In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (0.24.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.20.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (1.6.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)

In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [57]:
dataset = pd.read_csv(r'C:\Users\mraks\Desktop\Data.csv')
X = dataset.iloc[:,:3]
y = dataset.iloc[:,3]
print(dataset)
print(X)
print(y)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0
0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [58]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(X.iloc[:, 1:3])
X.iloc[:, 1:3] = imputer.transform(X.iloc[:, 1:3])
X

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

In [59]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le_x = LabelEncoder()
X.iloc[:, 0] = le_x.fit_transform(X.iloc[:, 0])
X

   Country        Age        Salary
0        0  44.000000  72000.000000
1        2  27.000000  48000.000000
2        1  30.000000  54000.000000
3        2  38.000000  61000.000000
4        1  40.000000  63777.777778
5        0  35.000000  58000.000000
6        2  38.777778  52000.000000
7        0  48.000000  79000.000000
8        1  50.000000  83000.000000
9        0  37.000000  67000.000000

In [61]:
from sklearn.compose import ColumnTransformer
columnTransformer = ColumnTransformer([('encoder',OneHotEncoder(), [0])],remainder='passthrough')
X=np.array(columnTransformer.fit_transform(X),dtype= str)
X

array([['1.0', '0.0', '0.0', '44.0', '72000.0'],
       ['0.0', '0.0', '1.0', '27.0', '48000.0'],
       ['0.0', '1.0', '0.0', '30.0', '54000.0'],
       ['0.0', '0.0', '1.0', '38.0', '61000.0'],
       ['0.0', '1.0', '0.0', '40.0', '63777.77777777778'],
       ['1.0', '0.0', '0.0', '35.0', '58000.0'],
       ['0.0', '0.0', '1.0', '38.77777777777778', '52000.0'],
       ['1.0', '0.0', '0.0', '48.0', '79000.0'],
       ['0.0', '1.0', '0.0', '50.0', '83000.0'],
       ['1.0', '0.0', '0.0', '37.0', '67000.0']], dtype='<U32')

In [37]:
le_y = LabelEncoder()
y = le_y.fit_transform(y)
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

[['0.0' '0.0' '1.0' '27.0' '48000.0']
 ['1.0' '0.0' '0.0' '35.0' '58000.0']
 ['1.0' '0.0' '0.0' '44.0' '72000.0']
 ['0.0' '1.0' '0.0' '50.0' '83000.0']
 ['0.0' '1.0' '0.0' '40.0' '63777.77777777778']
 ['0.0' '0.0' '1.0' '38.77777777777778' '52000.0']
 ['0.0' '0.0' '1.0' '38.0' '61000.0']
 ['1.0' '0.0' '0.0' '48.0' '79000.0']]
[['0.0' '1.0' '0.0' '30.0' '54000.0']
 ['1.0' '0.0' '0.0' '37.0' '67000.0']]
[1 1 0 0 1 0 0 1]
[0 1]

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [24]:
X_train[:, 3:5] = scaler.fit_transform(X_train[:, 3:5])
X_test[:, 3:5] = scaler.transform(X_test[:, 3:5])