In [2]:
import  pandas as pd

In [4]:
data = pd.read_csv(r"D:\Software\Data Science Lectures\auto.csv")

In [5]:
data

,Lead_Id,Request_Hour,Request_Weekday,Request_MonthDay,Within24,Within48,Within72,WithinWeek,WithinWeeks,WithinMonth,...,ContactByTelephone,DistanceToDealer,LeadProvider_Id,Status,YearOfCarModel,Manufacturer,Model,TradeInModelYear,City,State
0,146,23,3,15,0,0,0,0,0,1,...,1,28.88,LP001,NEW,2008,Toyota,Highlander,2003,Pell City,AL
1,226,17,5,5,0,0,0,0,1,0,...,1,34.15,LP006,USED,2002,Chevrolet,Suburban,1996,Payson,AZ
2,166,14,2,9,0,0,0,0,0,1,...,1,29.42,LP009,NEW,2008,Toyota,Avalon,2007,Farmington,NM
3,291,20,6,27,0,0,0,1,0,0,...,1,110.76,LP010,USED,2006,Ferrari,F1,1997,Conway,AR
4,102,16,6,12,0,0,0,0,1,0,...,1,37.09,LP002,NEW,2008,BMW,7 Series,2001,San Francisco,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1494,73,8,2,4,0,1,0,0,0,0,...,1,190.17,LP004,USED,2007,BMW,3 Series,2003,Los Angeles,CA
1495,68,10,6,25,0,0,0,0,0,1,...,1,10.05,LP004,NEW,2008,Ferrari,F1,2008,Courtland,CA
1496,10,10,7,14,0,0,0,0,0,1,...,1,4.89,LP009,NEW,2009,Lotus,L2,1997,Pell City,AL
1497,27,9,3,10,0,0,0,1,0,0,...,1,1471.87,LP008,USED,1999,Volvo,C70,2006,Globe,AZ
1498,37,14,2,16,0,0,0,0,1,0,...,1,50.83,LP010,NEW,2008,Lexus,ES,1998,Wassila,AK

In [80]:
data1 = data.groupby('State')['Model'].value_counts().agg('max')
data1

18

In [10]:
data.fillna(0)

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AH3QC2PC1VTGP,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A3LKP6WPMP9UKX,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AVIY68KEPQ5ZD,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A1CV1WROP5KTTW,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,A1IMQ9WMFYKWH5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4844,A1KLIKPUF5E88I,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4845,A5HG6WFZLO10D,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4846,A3UU690TWXCG1X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
4847,AI4J762YI6S06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0

In [11]:
for items in data.columns[1:]:
    print(data[items].value_counts())

5.0    1
Name: Movie1, dtype: int64
5.0    1
Name: Movie2, dtype: int64
2.0    1
Name: Movie3, dtype: int64
5.0    2
Name: Movie4, dtype: int64
5.0    20
2.0     4
1.0     3
4.0     2
Name: Movie5, dtype: int64
4.0    1
Name: Movie6, dtype: int64
5.0    1
Name: Movie7, dtype: int64
5.0    1
Name: Movie8, dtype: int64
5.0    1
Name: Movie9, dtype: int64
5.0    1
Name: Movie10, dtype: int64
5.0    2
Name: Movie11, dtype: int64
5.0    5
Name: Movie12, dtype: int64
5.0    1
Name: Movie13, dtype: int64
4.0    1
Name: Movie14, dtype: int64
5.0    1
Name: Movie15, dtype: int64
5.0    213
4.0     71
3.0     28
2.0      5
1.0      3
Name: Movie16, dtype: int64
3.0    1
Name: Movie17, dtype: int64
5.0    1
Name: Movie18, dtype: int64
5.0    1
2.0    1
Name: Movie19, dtype: int64
3.0    1
Name: Movie20, dtype: int64
5.0    1
Name: Movie21, dtype: int64
5.0    2
Name: Movie22, dtype: int64
5.0    3
Name: Movie23, dtype: int64
5.0    4
2.0    1
Name: Movie24, dtype: int64
5.0    1
Name: Movie25, dtype: int64
4.0    2
1.0    1
Name: Movie26, dtype: int64
5.0    1
Name: Movie27, dtype: int64
5.0    1
2.0    1
3.0    1
Name: Movie28, dtype: int64
5.0    215
4.0     19
1.0      4
3.0      3
2.0      2
Name: Movie29, dtype: int64
5.0    1
4.0    1
Name: Movie30, dtype: int64
5.0    2
Name: Movie31, dtype: int64
5.0    1
4.0    1
Name: Movie32, dtype: int64
5.0    1
Name: Movie33, dtype: int64
5.0    1
Name: Movie34, dtype: int64
5.0    1
Name: Movie35, dtype: int64
5.0    1
Name: Movie36, dtype: int64
5.0    1
Name: Movie37, dtype: int64
5.0    1
Name: Movie38, dtype: int64
5.0    4
Name: Movie39, dtype: int64
5.0    3
Name: Movie40, dtype: int64
5.0    1
Name: Movie41, dtype: int64
5.0    1
Name: Movie42, dtype: int64
5.0    6
4.0    1
Name: Movie43, dtype: int64
5.0    2
Name: Movie44, dtype: int64
1.0    1
Name: Movie45, dtype: int64
5.0    1
Name: Movie46, dtype: int64
5.0    1
Name: Movie47, dtype: int64
5.0    1
Name: Movie48, dtype: int64
5.0    1
Name: Movie49, dtype: int64
5.0    1
Name: Movie50, dtype: int64
5.0    1
4.0    1
Name: Movie51, dtype: int64
5.0    6
4.0    4
1.0    3
2.0    2
3.0    2
Name: Movie52, dtype: int64
1.0    2
4.0    1
Name: Movie53, dtype: int64
5.0    1
Name: Movie54, dtype: int64
5.0    1
Name: Movie55, dtype: int64
5.0    1
Name: Movie56, dtype: int64
5.0    1
Name: Movie57, dtype: int64
1.0    1
Name: Movie58, dtype: int64
2.0    1
Name: Movie59, dtype: int64
1.0    1
Name: Movie60, dtype: int64
5.0    1
Name: Movie61, dtype: int64
5.0    2
1.0    2
Name: Movie62, dtype: int64
5.0    1
Name: Movie63, dtype: int64
3.0    1
Name: Movie64, dtype: int64
5.0    1
Name: Movie65, dtype: int64
5.0    1
Name: Movie66, dtype: int64
1.0    1
Name: Movie67, dtype: int64
5.0    1
Name: Movie68, dtype: int64
1.0    1
Name: Movie69, dtype: int64
5.0    2
Name: Movie70, dtype: int64
4.0    1
Name: Movie71, dtype: int64
5.0    1
Name: Movie72, dtype: int64
2.0    1
Name: Movie73, dtype: int64
5.0    1
Name: Movie74, dtype: int64
5.0    1
Name: Movie75, dtype: int64
5.0    2
Name: Movie76, dtype: int64
5.0    1
Name: Movie77, dtype: int64
5.0    1
Name: Movie78, dtype: int64
5.0    2
Name: Movie79, dtype: int64
4.0    1
Name: Movie80, dtype: int64
5.0    8
4.0    3
1.0    1
Name: Movie81, dtype: int64
5.0    2
Name: Movie82, dtype: int64
3.0    1
Name: Movie83, dtype: int64
5.0    1
Name: Movie84, dtype: int64
5.0    3
Name: Movie85, dtype: int64
5.0    18
1.0     1
4.0     1
3.0     1
Name: Movie86, dtype: int64
5.0    1
Name: Movie87, dtype: int64
4.0    1
Name: Movie88, dtype: int64
5.0    64
4.0     9
3.0     6
1.0     2
2.0     2
Name: Movie89, dtype: int64
1.0    13
5.0     2
4.0     2
2.0     1
Name: Movie90, dtype: int64
5.0    103
4.0     10
3.0      6
1.0      5
2.0      4
Name: Movie91, dtype: int64
5.0    87
4.0     7
3.0     5
2.0     2
Name: Movie92, dtype: int64
5.0    2
Name: Movie93, dtype: int64
4.0    2
5.0    1
Name: Movie94, dtype: int64
5.0    3
1.0    2
3.0    1
Name: Movie95, dtype: int64
5.0    3
Name: Movie96, dtype: int64
5.0    4
4.0    1
Name: Movie97, dtype: int64
5.0    1
Name: Movie98, dtype: int64
5.0    1
3.0    1
Name: Movie99, dtype: int64
4.0    1
Name: Movie100, dtype: int64
5.0    5
Name: Movie101, dtype: int64
5.0    1
3.0    1
Name: Movie102, dtype: int64
5.0    215
4.0     29
1.0     17
3.0     11
Name: Movie103, dtype: int64
5.0    2
4.0    2
Name: Movie104, dtype: int64
5.0    3
Name: Movie105, dtype: int64
5.0    1
Name: Movie106, dtype: int64
5.0    23
4.0     6
1.0     5
2.0     3
3.0     2
Name: Movie107, dtype: int64
5.0    42
4.0     8
3.0     3
1.0     1
Name: Movie108, dtype: int64
5.0    9
3.0    2
4.0    1
2.0    1
Name: Movie109, dtype: int64
5.0    7
4.0    1
Name: Movie110, dtype: int64
5.0    31
4.0     5
1.0     1
2.0     1
3.0     1
Name: Movie111, dtype: int64
5.0    2
Name: Movie112, dtype: int64
5.0    2
2.0    1
3.0    1
Name: Movie113, dtype: int64
5.0    5
4.0    1
2.0    1
Name: Movie114, dtype: int64
4.0    1
Name: Movie115, dtype: int64
5.0    1
Name: Movie116, dtype: int64
5.0    10
2.0     1
Name: Movie117, dtype: int64
5.0    5
Name: Movie118, dtype: int64
5.0    6
2.0    1
3.0    1
Name: Movie119, dtype: int64
5.0    3
Name: Movie120, dtype: int64
5.0    2
4.0    1
3.0    1
Name: Movie121, dtype: int64
5.0    4
Name: Movie122, dtype: int64
5.0    1
Name: Movie123, dtype: int64
5.0    3
4.0    1
Name: Movie124, dtype: int64
5.0    4
4.0    1
Name: Movie125, dtype: int64
5.0    1
4.0    1
Name: Movie126, dtype: int64
5.0    1512
1.0     277
4.0     236
3.0     154
2.0     134
Name: Movie127, dtype: int64
5.0    3
Name: Movie128, dtype: int64
5.0    2
2.0    1
Name: Movie129, dtype: int64
5.0    3
3.0    1
Name: Movie130, dtype: int64
5.0    4
Name: Movie131, dtype: int64
5.0    3
Name: Movie132, dtype: int64
5.0    1
Name: Movie133, dtype: int64
5.0    3
4.0    1
2.0    1
3.0    1
Name: Movie134, dtype: int64
5.0    1
Name: Movie135, dtype: int64
5.0    2
Name: Movie136, dtype: int64
5.0    2
2.0    1
Name: Movie137, dtype: int64
5.0    8
3.0    2
1.0    1
4.0    1
2.0    1
Name: Movie138, dtype: int64
5.0    4
Name: Movie139, dtype: int64
5.0    523
4.0     33
3.0     10
1.0      7
2.0      5
Name: Movie140, dtype: int64
5.0    4
4.0    1
2.0    1
3.0    1
Name: Movie141, dtype: int64
5.0    1
Name: Movie142, dtype: int64
5.0    1
Name: Movie143, dtype: int64
1.0    1
Name: Movie144, dtype: int64
5.0    1
Name: Movie145, dtype: int64
4.0    1
Name: Movie146, dtype: int64
5.0    1
Name: Movie147, dtype: int64
5.0    2
Name: Movie148, dtype: int64
5.0    1
Name: Movie149, dtype: int64
5.0    3
Name: Movie150, dtype: int64
5.0    1
4.0    1
Name: Movie151, dtype: int64
5.0    1
Name: Movie152, dtype: int64
5.0    1
Name: Movie153, dtype: int64
1.0    1
Name: Movie154, dtype: int64
5.0    1
3.0    1
Name: Movie155, dtype: int64
4.0    1
Name: Movie156, dtype: int64
5.0    4
Name: Movie157, dtype: int64
5.0    59
4.0     4
3.0     2
1.0     1
Name: Movie158, dtype: int64
4.0    1
2.0    1
Name: Movie159, dtype: int64
5.0    4
4.0    2
Name: Movie160, dtype: int64
5.0    18
4.0     4
3.0     3
Name: Movie161, dtype: int64
5.0    14
3.0     1
Name: Movie162, dtype: int64
5.0    9
3.0    3
4.0    1
Name: Movie163, dtype: int64
5.0    4
Name: Movie164, dtype: int64
5.0    1
Name: Movie165, dtype: int64
4.0    2
Name: Movie166, dtype: int64
5.0    4
Name: Movie167, dtype: int64
5.0    4
Name: Movie168, dtype: int64
5.0    4
Name: Movie169, dtype: int64
5.0    2
3.0    1
Name: Movie170, dtype: int64
2.0    1
Name: Movie171, dtype: int64
5.0    1
4.0    1
Name: Movie172, dtype: int64
5.0    13
3.0     2
Name: Movie173, dtype: int64
5.0    3
4.0    1
Name: Movie174, dtype: int64
5.0    1
Name: Movie175, dtype: int64
5.0    1
Name: Movie176, dtype: int64
5.0    1
Name: Movie177, dtype: int64
5.0    1
Name: Movie178, dtype: int64
5.0    6
3.0    1
Name: Movie179, dtype: int64
5.0    1
Name: Movie180, dtype: int64
5.0    2
Name: Movie181, dtype: int64
5.0    24
4.0     5
2.0     1
Name: Movie182, dtype: int64
5.0    1
Name: Movie183, dtype: int64
5.0    15
4.0     1
3.0     1
Name: Movie184, dtype: int64
5.0    20
4.0     3
3.0     1
Name: Movie185, dtype: int64
5.0    9
Name: Movie186, dtype: int64
5.0    1
Name: Movie187, dtype: int64
5.0    6
Name: Movie188, dtype: int64
5.0    5
Name: Movie189, dtype: int64
5.0    6
3.0    1
Name: Movie190, dtype: int64
5.0    6
Name: Movie191, dtype: int64
5.0    6
4.0    3
3.0    1
Name: Movie192, dtype: int64
5.0    5
4.0    1
3.0    1
Name: Movie193, dtype: int64
5.0    5
4.0    2
Name: Movie194, dtype: int64
4.0    1
Name: Movie195, dtype: int64
5.0    8
4.0    1
Name: Movie196, dtype: int64
5.0    2
4.0    2
1.0    1
Name: Movie197, dtype: int64
5.0    2
Name: Movie198, dtype: int64
5.0    1
Name: Movie199, dtype: int64
5.0    5
4.0    3
Name: Movie200, dtype: int64
5.0    2
3.0    1
Name: Movie201, dtype: int64
5.0    5
1.0    1
Name: Movie202, dtype: int64
3.0    1
Name: Movie203, dtype: int64
5.0    6
1.0    1
4.0    1
Name: Movie204, dtype: int64
5.0    28
4.0     4
1.0     1
2.0     1
3.0     1
Name: Movie205, dtype: int64

5.0    12
4.0     1
Name: Movie206, dtype: int64

In [19]:
 data.columns[1:].value_counts().mean()

1.0

In [18]:
print(data)

             user_id  Movie1  Movie2  Movie3  Movie4  Movie5  Movie6  Movie7  \
0     A3R5OBKS7OM2IR     5.0     5.0     NaN     NaN     NaN     NaN     NaN
1      AH3QC2PC1VTGP     NaN     NaN     2.0     NaN     NaN     NaN     NaN
2     A3LKP6WPMP9UKX     NaN     NaN     NaN     5.0     NaN     NaN     NaN
3      AVIY68KEPQ5ZD     NaN     NaN     NaN     5.0     NaN     NaN     NaN
4     A1CV1WROP5KTTW     NaN     NaN     NaN     NaN     5.0     NaN     NaN
...              ...     ...     ...     ...     ...     ...     ...     ...
4843  A1IMQ9WMFYKWH5     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4844  A1KLIKPUF5E88I     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4845   A5HG6WFZLO10D     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4846  A3UU690TWXCG1X     NaN     NaN     NaN     NaN     NaN     NaN     NaN
4847   AI4J762YI6S06     NaN     NaN     NaN     NaN     NaN     NaN     NaN

      Movie8  Movie9  ...  Movie197  Movie198  Movie199  Movie200  Movie201  \
0        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
1        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
2        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
3        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4        NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
...      ...     ...  ...       ...       ...       ...       ...       ...
4843     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4844     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4845     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4846     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN
4847     NaN     NaN  ...       NaN       NaN       NaN       NaN       NaN

      Movie202  Movie203  Movie204  Movie205  Movie206
0          NaN       NaN       NaN       NaN       NaN
1          NaN       NaN       NaN       NaN       NaN
2          NaN       NaN       NaN       NaN       NaN
3          NaN       NaN       NaN       NaN       NaN
4          NaN       NaN       NaN       NaN       NaN
...        ...       ...       ...       ...       ...
4843       NaN       NaN       NaN       NaN       5.0
4844       NaN       NaN       NaN       NaN       5.0
4845       NaN       NaN       NaN       NaN       5.0
4846       NaN       NaN       NaN       NaN       5.0
4847       NaN       NaN       NaN       NaN       5.0

[4848 rows x 207 columns]

In [22]:
ls =[]
for i in data.columns[1:]:
    ls.append(data[i].value_counts().mean())
ls.sort(reverse=True)

In [24]:
j=0
for i in data.columns[::-1]:
    print(f"{i} = {ls[j]}")
    j=j+1

Movie206 = 462.6
Movie205 = 115.6
Movie204 = 68.0
Movie203 = 64.0
Movie202 = 48.6
Movie201 = 25.6
Movie200 = 25.25
Movie199 = 16.6
Movie198 = 16.5
Movie197 = 13.5
Movie196 = 10.0
Movie195 = 9.0
Movie194 = 8.333333333333334
Movie193 = 8.0
Movie192 = 7.8
Movie191 = 7.8
Movie190 = 7.5
Movie189 = 7.5
Movie188 = 7.25
Movie187 = 7.0
Movie186 = 6.5
Movie185 = 6.0
Movie184 = 6.0
Movie183 = 5.666666666666667
Movie182 = 5.5
Movie181 = 5.25
Movie180 = 5.0
Movie179 = 5.0
Movie178 = 5.0
Movie177 = 5.0
Movie176 = 4.5
Movie175 = 4.5
Movie174 = 4.333333333333333
Movie173 = 4.0
Movie172 = 4.0
Movie171 = 4.0
Movie170 = 4.0
Movie169 = 4.0
Movie168 = 4.0
Movie167 = 4.0
Movie166 = 4.0
Movie165 = 4.0
Movie164 = 4.0
Movie163 = 4.0
Movie162 = 4.0
Movie161 = 3.5
Movie160 = 3.5
Movie159 = 3.5
Movie158 = 3.5
Movie157 = 3.4
Movie156 = 3.3333333333333335
Movie155 = 3.25
Movie154 = 3.0
Movie153 = 3.0
Movie152 = 3.0
Movie151 = 3.0
Movie150 = 3.0
Movie149 = 3.0
Movie148 = 3.0
Movie147 = 3.0
Movie146 = 3.0
Movie145 = 3.0
Movie144 = 3.0
Movie143 = 2.6666666666666665
Movie142 = 2.6666666666666665
Movie141 = 2.6
Movie140 = 2.5
Movie139 = 2.5
Movie138 = 2.5
Movie137 = 2.3333333333333335
Movie136 = 2.3333333333333335
Movie135 = 2.0
Movie134 = 2.0
Movie133 = 2.0
Movie132 = 2.0
Movie131 = 2.0
Movie130 = 2.0
Movie129 = 2.0
Movie128 = 2.0
Movie127 = 2.0
Movie126 = 2.0
Movie125 = 2.0
Movie124 = 2.0
Movie123 = 2.0
Movie122 = 2.0
Movie121 = 2.0
Movie120 = 2.0
Movie119 = 2.0
Movie118 = 2.0
Movie117 = 2.0
Movie116 = 2.0
Movie115 = 2.0
Movie114 = 2.0
Movie113 = 1.75
Movie112 = 1.6666666666666667
Movie111 = 1.5
Movie110 = 1.5
Movie109 = 1.5
Movie108 = 1.5
Movie107 = 1.5
Movie106 = 1.5
Movie105 = 1.5
Movie104 = 1.5
Movie103 = 1.3333333333333333
Movie102 = 1.3333333333333333
Movie101 = 1.0
Movie100 = 1.0
Movie99 = 1.0
Movie98 = 1.0
Movie97 = 1.0
Movie96 = 1.0
Movie95 = 1.0
Movie94 = 1.0
Movie93 = 1.0
Movie92 = 1.0
Movie91 = 1.0
Movie90 = 1.0
Movie89 = 1.0
Movie88 = 1.0
Movie87 = 1.0
Movie86 = 1.0
Movie85 = 1.0
Movie84 = 1.0
Movie83 = 1.0
Movie82 = 1.0
Movie81 = 1.0
Movie80 = 1.0
Movie79 = 1.0
Movie78 = 1.0
Movie77 = 1.0
Movie76 = 1.0
Movie75 = 1.0
Movie74 = 1.0
Movie73 = 1.0
Movie72 = 1.0
Movie71 = 1.0
Movie70 = 1.0
Movie69 = 1.0
Movie68 = 1.0
Movie67 = 1.0
Movie66 = 1.0
Movie65 = 1.0
Movie64 = 1.0
Movie63 = 1.0
Movie62 = 1.0
Movie61 = 1.0
Movie60 = 1.0
Movie59 = 1.0
Movie58 = 1.0
Movie57 = 1.0
Movie56 = 1.0
Movie55 = 1.0
Movie54 = 1.0
Movie53 = 1.0
Movie52 = 1.0
Movie51 = 1.0
Movie50 = 1.0
Movie49 = 1.0
Movie48 = 1.0
Movie47 = 1.0
Movie46 = 1.0
Movie45 = 1.0
Movie44 = 1.0
Movie43 = 1.0
Movie42 = 1.0
Movie41 = 1.0
Movie40 = 1.0
Movie39 = 1.0
Movie38 = 1.0
Movie37 = 1.0
Movie36 = 1.0
Movie35 = 1.0
Movie34 = 1.0
Movie33 = 1.0
Movie32 = 1.0
Movie31 = 1.0
Movie30 = 1.0
Movie29 = 1.0
Movie28 = 1.0
Movie27 = 1.0
Movie26 = 1.0
Movie25 = 1.0
Movie24 = 1.0
Movie23 = 1.0
Movie22 = 1.0
Movie21 = 1.0
Movie20 = 1.0
Movie19 = 1.0
Movie18 = 1.0
Movie17 = 1.0
Movie16 = 1.0
Movie15 = 1.0
Movie14 = 1.0
Movie13 = 1.0
Movie12 = 1.0
Movie11 = 1.0
Movie10 = 1.0
Movie9 = 1.0
Movie8 = 1.0
Movie7 = 1.0
Movie6 = 1.0
Movie5 = 1.0
Movie4 = 1.0
Movie3 = 1.0
Movie2 = 1.0
Movie1 = 1.0

IndexError: list index out of range